body {
    font-size: 13px;
    color: white;
    text-align: center;
    background: black;
    margin-top: 50px;
}
  
h1 {
    color: rgb(255, 255, 255);
}

hr {
    width: 500px;
}

#my-canvas {
    border: 1px solid white;
}