body {
    font-size: 13px;
    color: white;
    background: black;
    margin-top: 50px;
}
  
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

hr {
    width: 500px;
    text-align: center;
}

#my-canvas {
    margin-left: 10.5%;
}